@import 'variables';

.padding_wrapper_page {
  padding: 24px 25px 40px 72px;
}

.form_box {
  max-width: 918px;
  width: 100%;
  margin: 60px 0 0 0;
}

.padding_wrapper_table-page {
  padding: 24px 24px 10px 24px;
}

.markup_helper-box {
  display: grid;
  grid-template-columns: 355px 355px;
  justify-content: space-between;
}
.preview_back_link {
  position: absolute;
  top: -20px;
  left: 40px;
  font-weight: 500;
  color: $main-blue-color;
  cursor: pointer;
  transform: translate(-50%, 0);
}
