@import 'mixins';
@import 'nullStyles';
@import 'variables';
@import 'helperStyleComponents';

body,
html {
  font-family: $font-family;
  font-size: $defaultPC-font-size;
  font-weight: $default-font-weight;
  color: $default-font-color;
  background: $main-gray-background;
}

.container {
  max-width: $maxWidth + 48px;
  width: 100%;
  padding-right: 48px;
  margin: 0 auto;
  .app_wrapper {
    position: relative;
    display: flex;
    .content_wrapper {
      flex-basis: 100%;
      .contents {
        position: relative;
        background: $main-white;
        border-radius: 4px;
        min-height: 800px;
        height: calc(100% - 110px);
        margin: 30px 0 0 23px;
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5 {
  color: $typography-headlines-color;
}
h1 {
  font-size: $h1-fz;
  font-weight: 700;
}
h2 {
  font-size: $h2-fz;
  font-weight: 700;
}
h3 {
  font-size: $h3-fz;
  font-weight: 700;
}
h4 {
  font-size: $h4-fz;
  font-weight: 600;
}
h5 {
  font-size: $h5-fz;
  font-weight: 700;
}
h6 {
  font-size: $subtitle-fz-2;
  font-weight: 700;
}
p {
  font-size: $body-fz-1;
  font-weight: 400;
}
span {
  font-size: $body-fz-2;
  font-weight: 400;
}
label {
  font-size: $label-fz;
  font-weight: 500;
}
button {
  font-size: $button-fz;
  font-weight: 500;
}
ul {
  li {
    font-size: $menu-title-default-fz;
    font-weight: 500;
    a {
      font-size: $menu-title-default-fz;
      font-weight: 500;
      color: $typography-default-color;
    }
  }
}
input {
  line-height: 150%;
  font-size: $form-placeholder-fz;
  input::placeholder {
    font-size: $form-placeholder-fz;
    font-weight: 400;
  }
}
