@import '../../styles/variables';

.custom_file_input {
  position: relative;
  label {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 31px;
    border-radius: 4px;
    background: $main-blue-color;
    color: $main-white;
    font-weight: bold;
    font-size: 14px;
    &:before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 19px;
      margin: 0 10px 0 0;
      background-image: url('../../assets/icons/Upload.svg');
    }
  }
  input {
    position: absolute;
    z-index: 0;
    opacity: 0;
  }
}
