.table-wrapper {
  .ui.table.table-ui {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 2px;
    table-layout: fixed;
    max-height: 546px;

    width: 100%;
    thead {
      background: transparent;

      tr {
        border-color: transparent;

        .header-cell {
          background: transparent;
          border: none;
          font-weight: 500;
          font-size: 12px;
          line-height: 158%;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: #60788b;

          &-sorted {
            cursor: pointer;
            span {
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
      }
    }
    tbody {
      position: relative;
      tr {
        transition: all 0.5s ease;
        max-height: 48px;
        &:nth-child(odd) {
          .content {
            background: #edf6ff;
          }
        }

        td {
          padding: 0;
          table-layout: fixed;
          overflow: hidden;
          position: relative;
          border: none;
          white-space: nowrap;

          &:last-child {
            padding-right: 10px !important;
          }
          .content {
            overflow: hidden;
            height: 48px;
            padding: 0.78571429em 0.78571429em;

            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: 0.005em;
              font-feature-settings: 'tnum' on, 'lnum' on;
              color: #374957;
            }
          }
        }
      }
      .row-isDragging {
        opacity: 0.5;
      }
      .row-isDragOver {
        box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
        transform: scale(1.001);
        background: #6eb5ff !important;
      }
    }
  }
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    .ui.pagination {
      .item {
        border-radius: 5px !important;
        color: #374957;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 9px;
        min-width: 30px;
        height: 30px;
        &:first-child {
          padding: 5px 10px;
        }
        &:last-child {
          padding: 5px 10px;
        }
        &.active {
          padding-top: 4px;
          border: 1px solid #edf6ff;
          background: #edf6ff;
          font-weight: 700;
        }
      }
    }
  }
}
