.table-wrapper {
  padding: 0 15px;
  .ui.table.table-ui {
    position: relative;
    border-collapse: separate;
    border-spacing: 0 8px;
    table-layout: fixed;
    max-height: 546px;
    width: 100%;

    background: black;

    border: 2px solid red;
    thead {
      background: transparent;

      tr {
        border-color: transparent;
        background: #fff;
        .header-cell {
          background: transparent;
          border: none;
          font-weight: 500;
          font-size: 12px;
          line-height: 158%;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: #60788b;
          padding-bottom: 0;

          &-sorted {
            cursor: pointer;
            span {
              display: inline-block;
              margin-left: 10px;
            }
          }
        }
        .expandable-header-cell {
          width: 50px;
        }
      }
    }
    tbody {
      position: relative;

      tr {
        background: #fff;
        position: relative;
        transition: all 0.5s ease;
        max-height: 48px;
        td {
          padding: 0;
          table-layout: fixed;
          overflow: hidden;
          position: relative;
          border: none;
          white-space: nowrap;

          .checkCell {
            position: absolute;
            left: 22px;
            top: 5px;
          }

          .content {
            overflow: hidden;
            height: 48px;
            padding: 0.7em 0.7em;
            transition: background-color 0.3s ease;

            .icon-collapsing {
              display: inline-block;
              transform: rotate(-90deg);
              transition: transform 0.3s ease;
            }
            .icon-collapsing-active {
              transform: rotate(0deg);
            }
            span {
              font-weight: 500;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: 0.005em;
              font-feature-settings: 'tnum' on, 'lnum' on;
              color: #374957;
            }
          }
        }
      }
      .body-isOver {
        background: #0a5dc2;
      }
      .parent-row-striped {
        .content {
          background: #edf6ff;
        }
      }
      .child-row-striped {
        .content {
          background: #edf6ff;
        }
      }
      .children-row-hidden {
        display: none;
      }
      .children-row-show {
        display: table-row;
      }
      .row-isDragging {
        opacity: 0.5;
      }
      .row-isDragOver {
        box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
        transform: scale(1.001);
      }
    }
  }
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    .ui.pagination {
      .item {
        border-radius: 5px !important;
        color: #374957;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 9px;
        min-width: 30px;
        height: 30px;
        &:first-child {
          padding: 5px 10px;
        }
        &:last-child {
          padding: 5px 10px;
        }
        &.active {
          padding-top: 4px;
          border: 1px solid #edf6ff;
          background: #edf6ff;
          font-weight: 700;
        }
      }
    }
  }
  .drag-layer {
    position: fixed;
    pointer-events: none;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: #06488c;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #074c94;
      width: 70%;
      height: 70%;
      text-align: center;
      border-radius: 50%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
  }
}
