@import '../../../../styles/variables';

.group_input {
  display: flex;
  justify-content: space-between;
  input {
    width: 150px;
  }
}
.group_input_price {
  display: flex;
  justify-content: space-between;
  div[class='custom-input-container']:first-child {
    width: 210px !important;
  }
  div[class='custom-input-container']:last-child {
    width: 110px;
  }
}
