.inputContainer {
  max-width: 918px;
  width: 100%;

  &_title {
    height: 24px;
  }
  &_box {
    margin: 25px 0 0 0;
    display: grid;
    grid-row-gap: 30px;
    justify-content: space-between;
  }
}
