.inputContainer {
  max-width: 918px;
  width: 100%;

  &_title {
    margin: 0 0 25px 0;
  }
  &_box {
    display: grid;
    grid-template-columns: 355px 355px;
    grid-row-gap: 30px;
    justify-content: space-between;
  }
}
