@import '../../styles/variables';

.custom-input-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  &__label {
    margin-bottom: 8px;
    color: $form-fill;
    transition: $transition;
    span {
      margin-left: 3px;
      color: $form-required-star;
    }
  }

  &__disabled {
    color: $form-disabled;
    & > span {
      color: $form-disabled;
    }
  }
}
.custom-input-container__error {
  .custom-input-container__label {
    color: $form-error !important;
  }
  .custom-input-container__errorText {
    position: absolute;
    bottom: -33px;
    right: 0;
    left: 0;
    font-size: $body-fz-2;
    color: $form-error;
  }
}
